@model string


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    @{
        string dynamicNavbarCookie = Context.Request.Cookies["dynamicNavbar"];
    }
*@


<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AklimaGeldikce</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @*
            @if (string.IsNullOrEmpty(dynamicNavbarCookie))
            {
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MenuItem<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="MenuItem" asp-action="Index">MenuItem Index</a></li>

                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>

            </ul>
            </li>
            <li><a asp-area="" asp-controller="Role" asp-action="Index">Roles</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounts<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="Account" asp-action="Index">Accounts Index</a></li>
                </ul>
            </li>
            }
            else
            {
                @Html.Raw(dynamicNavbarCookie);
            }
        *@
        @Html.Raw(Model);
    </ul>
    @await Component.InvokeAsync("LoginStatus")
</div>
