
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- /.login-logo -->
<div class="login-box-body">
    <p class="login-box-msg">Şifremi unuttum</p>
    <form asp-action="ForgotPassword">
        <div class="form-group has-feedback">
            <input id="Username" name="Username" class="form-control" placeholder="Kullanıcı Adı">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Eposta Gönder</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    @*
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>
        <!-- /.social-auth-links -->
    *@
    @*
        <a href="#">Şifremi unuttum</a><br>
        <a href="register.html" class="text-center">Yeni üyelik oluştur</a>
    *@
</div>
<!-- /.login-box-body -->
