@*@model MyProfileUserInfoViewModel*@

@{
    //Layout = null;
}

<h4>User</h4>
<hr />

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
        <li><a href="#user-info" data-toggle="tab">Kullanıcı Bilgileri</a></li>
        <li><a href="#password-change" data-toggle="tab">Şifre Değiştirme</a></li>
    </ul>
    <div class="tab-content">
        <div class="active tab-pane" id="activity">
            @await Component.InvokeAsync("MyProfileActivity")
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="user-info">
            @await Component.InvokeAsync("MyProfileUserInfo")
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="password-change">
            @await Component.InvokeAsync("MyProfilePasswordChange")
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
<!-- /.nav-tabs-custom -->







