@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string dynamicNavbarCookie = Context.Request.Cookies["dynamicNavbar"];
}

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AklimaGeldikce</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @if (string.IsNullOrEmpty(dynamicNavbarCookie))
        {
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li><a asp-area="" asp-controller="MenuItem" asp-action="Index">MenuItem</a></li>
        }
        else
        {
            @Html.Raw(dynamicNavbarCookie);
        }
    </ul>
    @await Component.InvokeAsync("LoginStatus")
</div>
