@model IList<AklimaGeldikce.Entities.Notification>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    @{
        string dynamicNavbarCookie = Context.Request.Cookies["dynamicNavbar"];
    }
*@

@if (Model != null)
{
    <!-- Notifications: style can be found in dropdown.less -->
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">@Model.Count</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have @Model.Count unread notifications</li>
            <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                    @foreach (var notification in Model)
                    {
                        <li>
                            <a asp-action="Details" asp-controller="Notification" asp-route-id="@notification.Id">
                                <i class="fa fa-users text-aqua"></i> @string.Concat(notification.Content.Substring(0, 20), "...")
                            </a>
                        </li>
                    }
                </ul>
            </li>
            <li class="footer"><a asp-action="Index" asp-controller="Notification">View all</a></li>
        </ul>
    </li>
}
